/* General definitions */

* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 100px;
    min-height: calc(100% - 100px);
    min-width: 750px;
}

main, header {
    position: relative;
    min-width: 500px;
    max-width: 900px;
    width: 60%;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    width: calc(100% - 40px);
    padding: 20px;
    text-align: center;
}

/* Branding */
#pixie-logo {
    position: absolute;
    top: 0;
    right: -100px;
    width: 100px;
}

#lazy-coder {
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 200px;
    z-index: -1;
}

/* Some nice layout options */

h1 {
    font-size: 2em;
    padding: 20px 0 10px 0;
}

h2 {
    font-size: 1.5em;
    padding: 10px 0 5px 0;
}

ul {
    margin: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}


/* Expandable section */

.fancy-checkbox:before {
    border: 1px solid black;
    width: 0.7em;
    line-height: 0.8em;
    min-height: 0.8em;
    display: inline-block;
    margin-right: 3px;
    text-align: center;
    padding: 2px;
}

input.expandable-state {
    display: none;
}

input[type=checkbox] + label .expandable-header:before{
    padding-top: 0;
    content: '+';
}

input[type=checkbox]:checked + label .expandable-header:before{
    content: '-';
}

input[type=checkbox] + label .expandable-body {
    height: 0;
    margin: -8px 0;
    transition: height 200ms, margin 200ms;
}

input[type=checkbox]:checked + label .expandable-body {
    height: calc(32px + 3em);
}


/* Game definitions */

#control-area {
    width: calc(100% - 40px);
    padding: 20px;
    text-align: center;
}

#start-button {
    padding: 10px 20px;

    border-radius: 5px;
    border: 1px solid black;
    background: #f9fff9;
    color: black;

    font-size: 1.5em;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-weight: bolder;
}

#score-area h2 {
    margin-bottom: 0;
}

#game-area {
    position: relative;
    width: 100%;

    background: black;
    color: white;
}

#game-area:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#game-board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.game-tile {
    width: calc(20% - 2px);
    height: calc(20% - 2px);
    position: absolute;

    border: 1px solid;
    border-color:  #ddd #888 #777 #ccc;

    transition: left 300ms, top 300ms;

    background-image: url("../img/winter.jpg");
    background-size: 600%;
}

.game-tile.drop-zone {
    background-color: #222;
}

.game-tile.dragged-tile {
    transition: left 0ms, top 0ms;
}

.game-tile-inner {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;

    font-size: 3em;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: #00f 1px 1px 15px;
    opacity: 0.5;
    transition: opacity 200ms;
}

/* Some display state magic */
.hidden-state {
    display: none;
}

/* If #trainer-state is checked, display the numbers */
input#trainer-state[type=checkbox]:checked ~ #game-area #game-board .game-tile > .game-tile-inner {
    opacity: 0.5;
}
.game-tile-inner {
    opacity: 0;
}

[for=trainer-state]:before {
    margin-top: 2px;
    padding-top: 4px;
    padding-bottom: 0;
    margin-bottom: -2px;
    content: '\2713';
    color: transparent;
}

input#trainer-state[type=checkbox]:checked ~ [for=trainer-state]:before {
    color: inherit;
}

/* Initial tile state */

#n00, #n01, #n02, #n03, #n04 {  top: 0; background-position-y:  0;}
#n05, #n06, #n07, #n08, #n09 {  top: 20%; background-position-y: 20%;}
#n10, #n11, #n12, #n13, #n14 {  top: 40%; background-position-y: 40%;}
#n15, #n16, #n17, #n18, #n19 {  top: 60%; background-position-y: 60%;}
#n20, #n21, #n22, #n23, #n24 {  top: 80%; background-position-y: 80%;}

#n00, #n05, #n10, #n15, #n20 {  left: 0; background-position-x:  0;}
#n01, #n06, #n11, #n16, #n21 {  left: 20%; background-position-x: 20%;}
#n02, #n07, #n12, #n17, #n22 {  left: 40%; background-position-x: 40%;}
#n03, #n08, #n13, #n18, #n23 {  left: 60%; background-position-x: 60%;}
#n04, #n09, #n14, #n19, #n24 {  left: 80%; background-position-x: 80%;}